<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Shopcart">
 
<listeners>

<listener class-name="com.shopcart.qa.util.TestNGListener"/>
<listener class-name="com.shopcart.qa.ExtentreportListener.ExtentreportNG"/>

</listeners>


<test name="ShopcartTest" >


<classes>  
           
            <class name="com.shopcart.qa.testcases.LoginPageTest"/>
			

</classes>

</test>

 
  </suite>
